.app_blue_theme {
    --bg-color: #F0F1FF;
    --inverted-bg-color: #272d62;
    --primary-color: #366D87;
    --secondary-color: #F0F1FF;
    --inverted-primary-color: #F0F1FF;
    --inverted-secondary-color: #1C3845;
}
